body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d405b;
    font-family: lato, sans-serif;
}

h1 {
    color: #f4f1de;
}

h2 {
    text-decoration: underline;
}

.selected {
    background-color: #917b56;
}

.main-btn {
    border: 0px;
    padding: 0.5rem 0.75rem;
    color: #f4f1de;
    background-color: #e07a5f;
    border-radius: 0.5rem;
    transition: 0.2s background-color;
}

.minor-btn {
    border: 0px;
    padding: 0.3rem 0.5rem;
    color: #f4f1de;
    background-color: #e07a5f;
    border-radius: 0.5rem;
    transition: 0.2s background-color;
}

.small-btn {
    font-size: xx-small;
    border: 0px;
    padding: 0rem 0rem;
    color: #f4f1de;
    background-color: #e07a5f;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    transition: 0.2s background-color;
}

button:hover {
    background-color: #bf6951;
    cursor: pointer;
}

#data-container {
    width: 68%;
    background-color: #f4f1de;
    border-radius: 1rem;
    border: 1px solid red;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

.container,
#song-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    min-width: 250px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    position: relative;
    right: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 10rem;
}

#song-list > li {
    cursor: pointer;
    background-color: #f2cc8f;
    border-radius: 0.5rem;
    position: relative;
    right: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

form {
    margin: 0rem;
    padding: 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

li > form > button {
    align-self: center;
    width: 20%;
    margin-top: 0.3rem;
}

li > form > p {
    margin: 0rem;
}

span {
    font-weight: bold;
}

#album-list > * {
    cursor: pointer;
    background-color: #f2cc8f;
    border-radius: 0.5rem;
    position: relative;
    right: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

#artist-list > li {
    background-color: #f2cc8f;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0rem;
}

#artist-list > li:hover,
#album-list > li:hover {
    background-color: #d5b47f;
}
#artist-list > li:active,
#album-list > li:active {
    background-color: #b89b6c;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    width: 100%;
}

.selected {
    background-color: rgb(22, 96, 171);
}

#song-inputs > input {
    margin: 0.5rem;
}

.album-input {
    margin: 0.5rem;
}
